#btn-search:hover {
    background-color: hsl(171, 100%, 41%);
}

.title.is-3 {
    color: hsl(171, 100%, 41%);
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Media query for tablet view */
@media (max-width: 1030px) {
    .error-message {
        width: 70%;
    }
}

/* Media query for mobile view */
@media (max-width: 700px) {
    .error-message {
        width: 90%;
    }
}
