:root {
    --glow-color: #d10e0e;
    --glow-color1: rgb(255, 4, 192);
}

.no-option-selected {
    color: #ffffff;
    text-shadow: 
        0 0 5px var(--glow-color), 
        0 0 10px var(--glow-color), 
        0 0 15px var(--glow-color),
        0 0 20px var(--glow-color),
        0 0 25px var(--glow-color);
    font-size: 1.2rem;
}

.no-recipe-found {
    color: white;
    text-shadow: 
        0 0 5px var(--glow-color1), 
        0 0 10px var(--glow-color1), 
        0 0 15px var(--glow-color1), 
        0 0 20px var(--glow-color1), 
        0 0 25px var(--glow-color1);
}

.error {
    text-align: center;
    padding: 0.5rem;
    margin: 1rem auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: 1rem auto;
    animation: glow 1.5s infinite alternate, swing 5s infinite ease-in-out;
}

@keyframes error {
    from {
        text-shadow: 
            0 0 5px var(--glow-color), 
            0 0 10px var(--glow-color), 
            0 0 15px var(--glow-color), 
            0 0 20px var(--glow-color), 
            0 0 25px var(--glow-color), 
            0 0 30px var(--glow-color), 
            0 0 35px var(--glow-color);
    }
    to {
        text-shadow: 
            0 0 10px var(--glow-color), 
            0 0 20px var(--glow-color), 
            0 0 30px var(--glow-color), 
            0 0 40px var(--glow-color), 
            0 0 50px var(--glow-color), 
            0 0 60px var(--glow-color), 
            0 0 70px var(--glow-color);
    }
}

@keyframes swing {
    0% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(-10px);
    }
}

/* Media query for tablet view */
@media (max-width: 1030px) {
    .error {
        width: 70%;
    }
}

/* Media query for mobile view */
@media (max-width: 700px) {
    .error {
        width: 90%;
    }
}