.recipe-display a.button {
    border: none;
}

.recipe-display a.button:hover {
    background-color: #00d1b2;
}

figure {
    width: 95%
}

figure a {
    display: block;
    width: 100%
}

figure a img {
    width: 100%; 
    max-height: 30vh; 
    object-fit: cover
}

#btn-print-to-pdf:hover {
    background-color: aqua;
}

#btn-add-to-print:hover {
    background-color: #1dbeda;
}