#herobanner {
    background-image: url(${backgroundImage});
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    position: relative;
    display: flex;
    align-items: flex-start;  
    justify-content: center;  
    color: white;
    margin-bottom: auto
}

#herocontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.title.is-1 {
    color: #ffdd57;
}

#cta-search-recipes:hover {
    background-color: #00d1b2;
}
