.navbar-menu.is-active .navbar-item {
    color: #65edd8;
    text-align: center;
    font-size: 1.25rem;
}

.navbar-menu.is-active {
    background-color: #65edd8;
}

.navbar-burger .burger {
    transition: background-color 0.3s;
}

.navbar-burger:hover {
    background-color: white;    
}

.navbar-item {
    transition: color 0.3s;
}

.navbar-item:hover {
    background-color: white;
}

.navbar-item.active {
    background-color: #f5a623; 
    color: #fff; 
}

.navbar-item {
    margin: 0 3rem; /* Adjust as needed */
}