.navbar-menu.is-active, .navbar-item {
    color: #65edd8;
    text-align: center;
    font-size: 1.1rem;
}

.navbar-menu.is-active {
    background-color: hsl(171, 100%, 41%);
}


.navbar-item:hover {
    background-color: hsl(48, 100%, 67%);
}

.navbar-item:active, .navbar-item:focus, .navbar-item:focus-within {
    background-color: transparent !important;
    --bulma-navbar-item-background-a: 0;
}

#navbar-main:hover{
    color: red;
}

#navbar-main {
    color: black;
}

