html {
    scroll-behavior: smooth;
    min-height: 100vh;
    overflow-x: hidden;
}

#page {
  min-height: 100vh;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
}

.section {
  min-height: calc(100vh - 5rem);
}
